
@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 450;
  src: url("./assets/fonts/OpenSans-VariableFont.ttf") format('truetype')
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

.App {
  text-align: center;
  font-family: OpenSans, sans-serif;
  font-weight: 100;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

